<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.nacos.provider.mapper.auth.RoleMapper">

  <resultMap id="BaseResultMap" type="com.dubbo.nacos.api.entity.auth.Role">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
    <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
    <result column="role_type" jdbcType="VARCHAR" property="roleType"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, role_name, role_code, parent_id, role_type, remark
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.dubbo.nacos.api.entity.auth.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dubbo.nacos.api.entity.auth.Role">
    update role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findRoleByRoleCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from role
    where role_code = #{roleCode,jdbcType=VARCHAR} limit 1
  </select>

</mapper>